<%= form_for(@fontset) do |f| %>
  <% if @fontset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fontset.errors.count, "error") %> prohibited this fontset from being saved:</h2>

      <ul>
      <% @fontset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :l1 %><br />
    <%= f.select :l1, Font.sel_fonts %>
  </div>
  <div class="field">
    <%= f.label :l2 %><br />
    <%= f.select :l2, Font.sel_fonts %>
  </div>
  <div class="field">
    <%= f.label :l3 %><br />
    <%= f.select :l3, Font.sel_fonts %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
