<h1>Listing fontsets</h1>

<table border=1>
  <tr>
    <th>Name</th>
    <th>Fontset</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fontsets.each do |fontset| %>
  <tr>
    <td><%= fontset.name %></td>
    <td>
      L1: <%= fontset.l1.to_s %><br>
      L2: <%= fontset.l2.to_s %><br>
      L3: <%= fontset.l3.to_s %>
    </td>
    <td><%= link_to 'Show', fontset %></td>
    <td><%= link_to 'Edit', edit_fontset_path(fontset) %></td>
    <td><%= link_to 'Destroy', fontset, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fontset', new_fontset_path %>
