<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @fontset.name %>
</p>

<p>
  <b>Base name:</b>
  <%= @fontset.base_name %>
</p>

<p>
  <b>Base size:</b>
  <%= @fontset.base_size %>
</p>

<p>
  <b>Heart name:</b>
  <%= @fontset.heart_name %>
</p>

<p>
  <b>Heart size:</b>
  <%= @fontset.heart_size %>
</p>

<p>
  <b>Cross name:</b>
  <%= @fontset.cross_name %>
</p>

<p>
  <b>Cross size:</b>
  <%= @fontset.cross_size %>
</p>

<p>
  <b>Star name:</b>
  <%= @fontset.star_name %>
</p>

<p>
  <b>Star size:</b>
  <%= @fontset.star_size %>
</p>


<%= link_to 'Edit', edit_fontset_path(@fontset) %> |
<%= link_to 'Back', fontsets_path %>
