<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @fontset.name %>
</p>

<p>
  <b>L1:</b>
  <%= @fontset.l1 %>
</p>

<p>
  <b>L2:</b>
  <%= @fontset.l2 %>
</p>

<p>
  <b>L3:</b>
  <%= @fontset.l3 %>
</p>


<%= link_to 'Edit', edit_fontset_path(@fontset) %> |
<%= link_to 'Back', fontsets_path %>
