<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.select :project_id, Project.sel_projects %>
  </div>
  <div class="field">
    <%= f.label :l1 %><br />
    <%= f.text_field :l1 %>
  </div>
  <div class="field">
    <%= f.label :l2 %><br />
    <%= f.text_field :l2 %>
  </div>
  <div class="field">
    <%= f.label :l3 %><br />
    <%= f.text_field :l3 %>
  </div>
  <div class="field">
    <%= f.label :fontset_id %><br />
    <%= f.select :fontset_id, Fontset.sel_fontsets %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
