<p id="notice"><%= notice %></p>

<p>
  <b>Font_family:</b>
  <%= @font.font_family %>
</p>

<p>
  <b>Font_size:</b>
  <%= @font.font_size %>
</p>

<p>
  <b>Heart font_family:</b>
  <%= @font.heart_font_family %>
</p>

<p>
  <b>Heart font_size:</b>
  <%= @font.heart_font_size %>
</p>

<p>
  <b>Star font_family:</b>
  <%= @font.star_font_family %>
</p>

<p>
  <b>Star font_size:</b>
  <%= @font.star_font_size %>
</p>

<p>
  <b>Cross font_family:</b>
  <%= @font.cross_font_family %>
</p>

<p>
  <b>Cross font_size:</b>
  <%= @font.cross_font_size %>
</p>


<%= link_to 'Edit', edit_font_path(@font) %> |
<%= link_to 'Back', fonts_path %>
